/* ------------ PAGE WRAPPER ------------ */
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* ------------ TITLE ------------ */
.page_title {
    display: flex;
    justify-content: center;
    /*@TODO WARN theme color*/
    color: white;
    margin: 10px 0;
    letter-spacing: 5px;
}

/* ------------ TABLE HEADER CHECKBOX ------------ */
.header_checkbox {
    /*@TODO WARN theme color*/
    color: #90caf9 !important;
    padding-left: 12px !important;
}

/* ------------ TABLE BODY CHECKBOX ------------ */
.body_checkbox {
    /*@TODO WARN theme color*/
    color: white !important;
}

/* ------------ DELETE ICON ------------ */
.delete_icon {
    position: fixed;
    left: 20px;
    bottom: 90px;
    padding: 10px;
    /*@TODO WARN theme color*/
    color: white;
    /*@TODO WARN theme color*/
    background: red;
    border-radius: 50%;
    transition: all .3s ease-in-out !important;
}

.delete_icon:hover {
    transform: scale(1.2);
}

/* ------------ ADD ICON ------------ */
.add_icon {
    position: fixed;
    left: 20px;
    bottom: 20px;
    padding: 10px;
    /*@TODO WARN theme color*/
    color: white;
    /*@TODO WARN theme color*/
    background: #60ad60;
    border-radius: 50%;
    transition: all .3s ease-in-out !important;
}

.add_icon:hover {
    transform: scale(1.2);
}