.dialog__content {
    background: #262424;
}

.dialog__content_text {
    margin-top: 15px !important;
}

.dialog__actions {
    display: flex !important;
    justify-content: space-around !important;
    background: #262424;
}