
.dialog__content {
    /*@TODO WARN theme color*/
    background: #262424;
}

.dialog__content_text {
    margin-top: 15px !important;
}


.dialog__actions {
    display: flex !important;
    justify-content: space-around !important;
    /*@TODO WARN theme color*/
    background: #262424;
}