.container {
    position: fixed;
    /*@TODO WARN use theme colors*/
    color: white;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quantity {
    /*@TODO WARN use theme colors*/
    color: red;
    font-weight: bold;
}

.icon {
    /*@TODO WARN use theme colors*/
    color: deepskyblue;
}
