.container {
    position: fixed;
    color: #ffffff;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quantity {
    color: #de1f1f;
    font-weight: bold;
}

.icon {
    color: #00bfff;
}
