.dialog__title {
    text-align: center;
    padding: 10px;
}

.dialog__actions {
    display: flex !important;
    justify-content: space-around !important;
    padding: 5px 30px;
}

.dialog__actions button {
    width: fit-content;
    padding: 5px 30px;
    font-size: 15px;
    border: 1px #90caf9 solid;
}
