.dialog__info_container {
    /*@TODO WARN use theme colors*/
    background: #262424;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.dialog__content_row {
    width: 100%;
    margin: 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dialog__content_row_label {
    margin-right: 10px;
}

.dialog__content_row_input {
    /*width: 550px;*/
    width: 35.5vw;
    border-radius: 2px;
    padding: 10px 10px;
    font-size: 15px;
    resize: none;
}

.dialog__actions {
    display: flex !important;
    justify-content: space-around !important;
    /*@TODO WARN use theme colors*/
    background: #262424;
}

.dialog__actions button {
    border-radius: 2px;
    /*@TODO WARN use theme colors*/
    border: 1px solid #90caf9;
}

.dialog__actions button:hover {
    border-style: solid;
}