.dialog__info_container{
    background: #262424;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.dialog__content_row{
    width: 100%;
    margin: 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dialog__content_row_label{
    color: #60ad60;
    margin-right: 10px;
}

.dialog__content_row_input{
    width: 400px;
    overflow-y: hidden;
    border-radius: 2px;
    padding: 10px 10px;
    font-size: 15px;
    resize: none;
}

.dialog__actions{
    display: flex !important;
    justify-content: space-around !important;
    background: #262424;
}

.dialog__actions button {
    border-radius: 2px;
    border: 1px dotted#90caf9;
}

.dialog__actions button:hover {
    border-style: solid;
}